
  {{#if areDetailsShowing}}
    <h4{{action 'detailsHide'}}>{{question.content}}</h4>
    <h4>{{question.author}}</h4>
    <h4>{{question.notes}}</h4>
    <h4>{{#link-to 'question-page' question.id}}See Answers{{/link-to}}</h4>
  {{else}}
    <h4 {{action 'detailsShow'}}>{{question.content}}</h4>
  {{/if}}
