
  {{#if areDetailsShowing}}
    <h2{{action 'detailsHide'}}>{{question.content}}?</h2>
    <h4>Author: {{question.author}}</h4>
    <h4>Notes: {{question.notes}}</h4>
    <h4>{{#link-to 'question' question.id}}See Answers{{/link-to}}</h4>
  {{else}}
    <h2 {{action 'detailsShow'}}>{{question.content}}?</h2>
  {{/if}}
